/* ! COMMON */
body
{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 5000px;
}
.inner
{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
img
{
  display: block;
}
a
{
  text-decoration: none;
}
header .sub-menu ul,
header .inner > nav > ul > li > a,
header .inner > nav > ul > li ol > li > div > ul li a
{
  font-family: Arial, sans-serif;
}
/* !btn common */
.btn
{
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: color,background-color 0.5s ease; 
}
.btn:hover
{
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse
{
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover
{
  background-color: transparent;
  color: #333;
}
.btn.btn--brown
{
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover
{
  color: #fff;
  background-color: #592B18;
}
.btn.btn--white
{
  color: #fff;
  border-color: #fff;
}
.btn.btn-white:hover
{
  color: #333;
  background-color: #fff;
}
.btn.btn--gold
{
  color: #c49c48;
  border-color: #c49c48;
}
.btn.btn--gold:hover
{
  color: #fff;
  background-color: #c49c48;
}
@media screen and (min-width: 1170px)
{
  /*! HEADER */
  header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    z-index: 100;
  }
    header>div.inner {
      height: 120px;
    }
  header h1
  {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
  }
  header h1
  {
    max-width: 75px;
  }
  header h1 a
  {
    display: block;
  }
  header h1 a img
  {
    width: 100%;
  }
  header .sub-menu
  {
    position: absolute;
    display: flex;
    right: 0;
  }
  header .sub-menu ul
  {
    display: flex;
  }
  header .sub-menu ul li
  {
    position: relative;
  }
  header .sub-menu ul li:not(:first-of-type)::before
  {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  header .sub-menu ul li:not(:first-of-type)
  {
    margin-left: 10px;
  }
  header .sub-menu ul li a
  {
    display: block;
    font-size: 12px;
    padding: 11px 16px;
    color: #656565;
  }
  header .sub-menu ul li a:hover
  {
    color: #000;
  }
  header .sub-menu .search
  {
    position: relative;
    height: 34px;
  }
  header .sub-menu .search input
  {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    transition: width 0.4s ease;
  }

  header .sub-menu .search input:focus
  {
    width: 190px;
    border-color: #669900;
  }
  header .sub-menu .search input:focus + label.material-icons
  {
    display: none;
  }
  header .sub-menu .search label.material-icons
  {
    position: absolute;
    height: 24px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
  }
  /* SUB-MENU FIN */
  header .inner > nav{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  header .inner > nav ul{
    display: flex;
  }
  header .inner > nav > ul li{
  }
  header .inner > nav > ul > li > a{
    display: block;
    padding: 10px 20px 34px 20px;
    font-size: 13px;
    color: #333;
  }
  header .inner > nav > ul > li:hover > a{
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0px 0px;
  }
    /*! menu items */
  header .inner > nav > ul > li ol{
    background-color: #2c2a29;
    width: 100%;
    position: fixed;
    left: 0;
  }
  header .inner > nav > ul > li:hover ol li{
    display: block;
  }
  header .inner > nav > ul > li ol li{
    display: none;
  }
  header .inner > nav > ul > li ol li:first-of-type > div{
    display: block;
    background-color: #2c2a29;
    width: 100%;
    padding: 20px 0;
  }  
  header .inner > nav > ul > li ol li > div:after{
    content: "";
    display: block;
    clear: both;
  }
  header .inner > nav > ul > li ol li > div > ul{
    width: 23%;
    display: block;
    float: left;
  }
  header .inner > nav > ul > li ol li > div > ul h3{
    color: #fff;
    font-weight: 700;
    padding: 20px 0;
  }
  header .inner > nav > ul > li ol > li > div > ul li a{
    color: #ccc;
    font-size: 13px;
  }
  header .inner > nav > ul > li ol > li > div > ul li a:hover{
    color: #669900;
  }
  header .inner > nav > ul > li ol li > div > ul li:not(:last-of-type){
    margin-bottom: 10px;
  }
  header .inner > nav > ul > li > ol > li:last-of-type
  {
    background-color: red;
    padding: 20px 0;
    background: url('../images/main_menu_pattern.jpg');
  }
  header .inner > nav > ul > li > ol > li:last-of-type > div h3
  {
    color: #fff;
    font-size: 13px;
  }
  header .inner > nav > ul > li > ol > li:last-of-type > div p
  {
    color: #669900;
    font-size: 13px;
  }
  header .inner > nav > ul > li > ol > li:last-of-type > div:first-of-type{
    margin-bottom: 20px;
  }
  .badges
  {
    position: fixed;
    top: 140px;
    right: 10px;
    z-index: 10;
  }
  .badges ul li
  {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  .badges ul li:first-of-type
  {
    margin-bottom: 20px;
  }
}